.dualsampa-list {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.dualsampa-list-item {
  display: block;
  margin: 0 0 1px;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  background: #fafaFA;
  border: 1px solid #ddd;
}

.dualsampa-list-item:hover {
  text-decoration: underline;
}
