.deview {
  display: flex;
  flex-direction: column;

  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
  stroke: pink;

  & header {
    display: flex;
  }

  & footer {
    display: flex;
  }

  & main {
    display: flex;
    width: 100%;
    height: 100%;
    background: lightyellow;
  }
}

.loader {
  margin: 1rem auto;

  & line {
    stroke: var(--text-color);
  }

  & circle {
    stroke: var(--background-color)
  }
}
