@import "../layout/app.css";

.outlineselector {
  display: flex;
  flex-direction: row;
  background: var(--background-color);
}

.outlineselector ul {
  display: flex;
  margin: 0;
  padding: 0;

  & li {
    display: flex;
    margin: 10px 0;
    padding: 0 0 0 10px;

  }
}

.outlineselector-buttongroup {
  display: flex;

  & button {
    width: 48px;
    height: 48px;
    margin: auto 0 auto 10px;
    color: var(--text-color);
    background: none;
    border: 1px solid var(--text-color);
    border-radius: 100%;

    &:disabled {
      color: var(--disabled-color);
      border-color: var(--disabled-color);
    }

    &:focus {
      outline: 0;
    }
  }
}
