.rightsidepanel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-right-panel {
  position:relative;
  align-items: center;
  width: 24px;
  height: 24px;
  color: transparent;
  background: none;
  outline: none;

  &::before,&::after {
    position: absolute;
    top: 12px;
    width:17px;
    height: 2px;
    background: var(--text-color);
    border-radius: 1px;
    content: '';
  }

  &.open {
    &::before,&::after {
      transform-origin: left center;
    }
  }

  &.close {
    &::before,&::after {
      transform-origin: right center;
    }
  }

  &::before {
    transform: rotate(60deg);
  }

  &::after {
    transform: rotate(-60deg);
  }

  &:hover::before,&:hover::after {
    background: var(--background-color);
  }
}

.panelcontent {
  height: 100%;
  background: var(--background-color);
  transition: all 0.2s ease-in;

  &.closed {
    width: 0;
  }

  &.opened {
    width: 500px;
  }
}
