@import './common.css';

div.elementselector {
    display: flex;

    margin: 0 0 0 10px;

    & input {
        margin: 10px;
        border: 1px solid var(--text-color);
        display: flex;
        color: var(--text-color);
        background: var(--background-color);
        font-size: 1.5rem;
        text-align: right;

        &:invalid {
            color: red;

            &:focus {
                border: 2px dashed red;
            }
        }

        &:valid:focus {
            border: 2px solid green;
        }
    }

    & label {
        color: var(--text-color);
        margin: auto 0;
    }

}
