@import "../../components/layout/app.css";

.currentelement {
  padding: 5px;
  color: var(--text-color);
  background: var(--background-color);
  
  & p {
    padding-left: 1rem;
  }

  & ul{
    display: flex;

    & li {
      margin-right: 15px;
      color: var(--text-color);
      list-style: none;

      & span.invalid {
        margin: 0 10px 0 10px;
        color: red;
      }
    }
  }
}
