@import "../layouts/app.css";

.userinput {
  display: flex;
  margin: 10px;
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: right;

  /*   background: var(--background-color); */
  background: pink;
  border: 1px solid var(--text-color);

  &:invalid {
    color: red;

    &:focus {
      border: 2px dashed red;
    }
  }

  &:valid:focus {
    border: 2px solid green;
  }
}

.userinputlabel {
  margin: auto 0;
  color: var(--text-color);
}
