@import url('https://fonts.googleapis.com/css?family=Roboto:300');

:root {
  --background-color: #303030;
  --text-color: #cdcdcd;
  --disabled-color: #585858;
}

body {
  margin:0;
}

html {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
