.btn {
  position:relative;
  align-items: center;
  width: 24px;
  height: 24px;
  color: transparent;
  background: none;
  border: 0;
  outline: none;

  &:hover::before,&:hover::after {
    background: var(--background-color);
  }

  &::before,&::after {
    position: absolute;
    top: 12px;
    right: 20px;
    width:17px;
    height: 2px;
    background: var(--text-color);
    border-radius: 1px;
    transform-origin: left center;
    content: '';
  }

  &::before {
    transform: rotate(60deg);
  }

  &::after {
    transform: rotate(-60deg);
  }

}

.open {
  composes: btn;

  &::before,&::after {
    transform-origin: left center;
  }
}

.close {
  composes: btn;

  &::before,&::after {
    left: 0;
    transform-origin: right center
  }
}

